<h1> {{user.username}} </h1>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<h3>Configured Widgets</h3>
{% if user.widget_set.all %}
	{% for app in user.widget_set.all %}
		<ul>
		<li><a href="{% url 'Users:remwidget' app.id%}">{{app.appname}}</a></li>
	</ul>

{% endfor %}
{% else %}
	No apps configured for this user
{% endif %}
<h3>Preferred Stocks (Only top 4 will be displayed)</h3>
{% if user.stock_set.all %}
{% for app in user.stock_set.all %}
		<ul>
		<li><a href="{% url 'Users:remstock' app.id%}">{{app.get_Ticker_display}}</a></li>
	</ul>

{% endfor %}
{% else %}
	No stocks configured for this user
{% endif %}
<h3>
	Remove this user?
</h3>
{% if user.id %}
<ul>
	<a href="{% url 'Users:remuser' user.id %}">Delete</a>
</ul>
{% endif %}

<br><br><a href="{% url 'Users:index' %}">Return</a>
