* {
    box-sizing: border-box;
}

/* Main Elements */
body {
    background-color: black;
}

.main_content h1 {
    color: white;
    font-weight: 400;
    font-family: Ubuntu;
    text-align: center;
    
    position: relative;
    top: -10px;
}

#window_border {
    /*width: 1050px;
    height: 1900px;*/
    width: 1400px;
    height: 800px;
    border: 5px solid white;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 15px;
    
    opacity: 1;
    transition: opacity 0.001s;
}

#window_border.fade {
    opacity: 0;
}

.window .main_content{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    /*margin-top: 25%;*/
    /*border: 2px solid red;*/
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /*border: 2px solid blue;*/
    
    font-family: Ubuntu;
    font-weight: 400;
    color: black;
    text-align: center;
    
}
.two {
    grid-column: 2 / 3;
    grid-row: 1;
    /*border: 2px solid blue;*/
    
    font-family: Ubuntu;
    font-weight: 400;
    color: white;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 4px;
    grid-auto-rows: minmax(80px, auto);
}
.three {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    /*border: 2px solid blue;*/
    
    font-family: Ubuntu;
    font-weight: 400;
    color: black;
    text-align: center;
}
.four {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    /*border: 2px solid blue;*/
    
    font-family: Ubuntu;
    font-weight: 400;
    color: black;
    text-align: center;
}
.five {
    grid-column: 2;
    grid-row: 4;
    /*border: 2px solid blue;*/
    
    font-family: Ubuntu;
    font-weight: 400;
    color: black;
    text-align: center;
    /*
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    grid-auto-rows: minmax(80px, auto);*/
}
.six {
    grid-column: 3;
    grid-row: 3 / 5;
    /*border: 2px solid blue;*/
    
    font-family: Ubuntu;
    font-weight: 400;
    color: black;
    text-align: center;
}

.day {
   grid-column: 1 / 2;
   grid-row: 1;
   /*border: 2px solid orange;*/
   
}

#curr_day {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 15pt;
    color: white;
    text-shadow:0 1px 0 #999;
    
    position: relative;
    top: 10px;
    left: 35px;
}

.date {
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    
    top: 10px;
    /*border: 2px solid green;*/
}

.ampm {
   grid-column: 3 / 4;
   grid-row: 1;
   /*border: 2px solid orange;*/
   
}

#curr_ampm {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 15pt;
    color: white;
    text-shadow:0 1px 0 #999;
    
    position: relative;
    top: 10px;
    right: 42px;
}

.one, .two, .three, .four, .five, .six {
    /*border: 2px solid blue;*/
}

#stat_window {
    position: relative;
    width: 100%;
    /*border: 2px solid red;*/
    top: 100px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    grid-auto-rows: minmax(80px, auto);
    
    opacity: 1;
    transition: opacity 0.001s;
}

#stat_window.fade {
    opacity: 0;
}

#cpu_load {
    grid-column: 1 / 2;
    grid-row: 1;
    /*border: 2px solid yellow;*/
}

#cpu_canvas {
    position: relative;
    top: 54px;
    /*top: 82px;*/
    /*width: 100%;*/
    /*border: 2px solid orange;*/
}

#mem_load {
    grid-column: 2 / 3;
    grid-row: 1;
    /*border: 2px solid yellow;*/
}

#mem_canvas {
    position: relative;
    top: 54px;
    /*border: 2px solid orange;*/
}

#cpu_load_text {
    position: relative;
    /*top: 16px;*/
    top: -11px;

    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    color: white;
    font-size: 10pt;
    text-shadow:0 1px 0 #999;
}

#mem_load_text {
    position: relative;
    top: -11px;
    
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    color: white;
    font-size: 10pt;
    text-shadow:0 1px 0 #999;
   /* border: 2px solid green;*/
}

/* Stock stuff */
#stock_window {
    border: 2px solid transparent;
    background-color: black;
    position: relative;
    width: 60%;
    height: 20%;
    margin: auto;
    top: 11px;
    
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    color: white;
    font-size: 10pt;
    text-shadow:0 1px 0 #999;
   /* border: 2px solid green;*/
}

#stock1 {
    border: 2px solid transparent;
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
}

#ticker {
    border: 2px solid transparent;
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
}

#value {
    border: 2px solid transparent;
    position: relative;
    width: 50%;
    height: 100%;
    left: 50%;
    bottom: 100%;
    text-align: center;
}
#ticker_text {
    font-size: 20pt;
    position: relative;
    width: 65%;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -54px;
    margin-top: -20px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
}

#value_text {
    border: 2px solid #2ECC71;
    background-color: #2ECC71;
    font-size: 12pt;
    position: relative;
    width: 65%;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -54px;
    margin-top: -20px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
}